<h1> Sign In </h1>

<%= form_with(url: sessions_path) do |f| %>

    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, required: true %>

    <%= f.label :password %><br>
    <%= f.password_field :password, required: true %>

    <%= f.submit "Sign In", class: "button" %>
<% end %>